fastapi
uvicorn[standard]
python-dotenv
supabase
pydantic
pydantic-settings
httpx
python-multipart
python-jose[cryptography]
passlib[bcrypt]
groq
cryptography
pytest
pytest-asyncio
black
flake8
email-validator
pre-commit
autoflake
autopep8